{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Catalog ma'lumotlari</h2>

    {% if start_date and end_date %}
        <p><b>Bazada mavjud ma'lumotlar:</b> {{ start_date }} dan {{ end_date }} gacha</p>
    {% else %}
        <p><b>Bazada hech qanday ma'lumot yo‘q</b></p>
    {% endif %}

    <a href="{% url 'catalog:upload_catalog' %}" class="btn btn-primary mb-3">
    Yangi ma'lumotlarni qo‘shish
    </a>

        <a href="{% url 'catalog:upload_from_file' %}" class="btn btn-primary mb-3">
            <i class="fas fa-file-upload"></i> Fayldan yuklash
        </a>

        <a href="{% url 'catalog:manual_entry' %}" class="btn btn-primary mb-3">
        Ma'lumotlarni kiritish
    </a>

    {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    {% if records %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Sana</th>
                        <th>Vaqt</th>
                        <th>Kenglik</th>
                        <th>Uzunlik</th>
                        <th>Chuqurlik (km)</th>
                        <th>Magnitude</th>
                        <th>Epitsentr</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in records %}
                    <tr>
                        <td>{{ r.Event_date }}</td>
                        <td>{{ r.Event_time }}</td>
                        <td>{{ r.Latitude }}</td>
                        <td>{{ r.Longitude }}</td>
                        <td>{{ r.Depth }}</td>
                        <td>{{ r.Mb }}</td>
                        <td>{{ r.Epicenter }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="alert alert-warning">
            Yangi ma'lumotlar yo‘q.
        </div>
    {% endif %}
</div>
{% endblock %}
