{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seysmik Tahlil</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Top-bar -->
<header class="top-bar">
    <div class="container d-flex align-items-center justify-content-between">
        <!-- Chapdagi logotip -->
        <a href="{% url 'index' %}" class="logo-link">
            <img src="https://seismos.uz/logo_new_uz123.png" alt="Logo" class="logo">
        </a>

      <!-- O'ngdagi logotip -->
    <div class="d-flex align-items-center">
        <a href="{% url 'index' %}" class="logo-link d-flex align-items-center">
            <img src="{% static 'images/Picture.png' %}" alt="Right Logo" class="logo me-2"> 
            <span class="lab-text">
                SEYSMOPROGNOSTIK MA'LUMOTLARNI <br>
                KOPLEKS TAHLIL QILISH <br>
                LABARATORIYASI
            </span>
        </a>
    </div>


    </div>
        
</header>

<style>
    .top-bar {
        background: linear-gradient(90deg, #003366, #001a33);
        padding: 10px 20px;
        border-bottom: 3px solid #002244;
        position: fixed;
        display: flex;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .logo {
        height: 60px;
        width: auto;
    }

    .logo-link {
        text-decoration: none;

    }
    .lab-text {
    color: #F0FFFF;    
    font-size: 14px;    
    line-height: 1.2;   
}

</style>

    <div class="container mt-4" style="padding: 70px;">
        {% block content %}{% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>